{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<script src="/static/js/nouislider.js"></script>
<script src="/static/js/wNumb.js"></script>
<script src="/static/js/updateSlider.js"></script>

<div class="page-header">
  <h1>Calculator</h1>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		How many of your meals a week include red meat?
	</div>
	<div class="panel-body">
		<div class="flatSlider" id="currentSlider"></div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		How many meals would you be willing to eliminate red meat from in one week?
	</div>
	<div class="panel-body">
		<div class="flatSlider" id="CutBack"></div>
	</div>
</div>

<script>
	$(function(){
		//Create the first slider
		var slider = document.getElementById('currentSlider');
		noUiSlider.create(slider, {
			start: 13,
			tooltips: true,
			step: 1,
			connect: [true, false],
			format: wNumb({
				decimals: 0
				}),
			range: {
				'min': 0,
				'max': 21
			}
		});
		//Create the second slider
		var slider2 = document.getElementById('CutBack');
		noUiSlider.create(slider2, {
			start: 0,
			tooltips: true,
			step: 1,
			connect: [true, false],
			format: wNumb({
				decimals: 0,
				}),
			range: {
				'min': 0,
				'max': 13
				}
		});
		//Bind the second slider max value to the value of the first slider
		slider.noUiSlider.on('slide', function(){
			updateSlider(slider2, slider.noUiSlider.get());
		});
	});
</script>


<script src="/static/js/calculate.js"></script>

{%  endblock %}
